/* Header */
header{
    background:darkblue;
    height: 10rem;
    background: url(../img/background.jpg);
}
/* MAIN */
#slider{
    background: navy;
    height: 10rem;

}
#form{
    background:  darkslateblue ;
    height: 10rem;
}
#txt{
    background: rgb(22, 112, 134);
    height: 10rem;

}
#cat{
    background:  rgb(179, 141, 214) ;
    height: 10rem;
}
footer{
    background:darkblue;
    height: 2rem;
    /* background: url(../img/background.jpg); */

}
.container-fluid{
    padding: 0;
}
nav a{
    height: 10px;
    background: rgb(5, 5, 102);
    color: aquamarine;
}
h1{
    columns: #fff;
    margin: 0 auto;
}