 body{
     width: 80%; /*Adaptable a tous écrant*/
     margin: 10px auto;
     font-family: cursive;
     background: plum;
 }
#contenu{
    width: 80%;
    margin: 0 auto;
    background-color: red;
    border: 2px solid #000;
}
header, footer{ 
    height: 80px;
    background-color: #8e3557; 
    color: #ffffff; /*Couleur texte*/
    text-align: center;
    padding-top: 6px; /*Marge intèrieure haute */
    padding-left: 20px;/*Marge intèrieure gauche */
}
section{
    border:20px #787746;
    background-color: #e6f2af;
    height: 500px;
    text-align: center;  
}
p{
    margin: 0%;
}
.marron{
    height: 250px;
    width: 50%;
    background-color: maroon;
    float: left;
}
.kaki{
    height: 250px;
    width: 50%;
    background-color: green;
    float: right;
}
.beige{
    height: 250px;
    width: 50%;
    background-color:beige;
}
.bleu{
    height: 250px;
    width: 50%;
    background-color: blue;
    float: right;
}

<------------------------------------------------------------------------------>
                                 /*CORRECTION*/

                                