*{
 margin: 0 auto;
 padding:0 auto;
/* mini reset*/ 
}
#container{
    height: 500vh;
    width: 60vw;
   
}
/* Header */
header{
    margin-top:2%;
    height:100px;
    width: 60vw;
    margin:10 auto 5%;
    
}
.titre, h1{
width: 20vw;
display: inline;
}

.titre, .logo{
    float: left;
   
}
h1{    
    text-align: auto;
    font-family:cursive;
    font-size: 40px;
    color: black;
}
p{
    color: pink;
    font-size: 15px;
} 
.ba{
    display: block;
    height: 5px;
    text-align: center;
    float: center;
    width: 20vw;
}
h2{
    display: grid;
    color:#87ceeb;
}
.panier{
    border: 2px white;
    background-color:skyblue ;
    color: aliceblue;
    display: inline block;
    float: right;
    width: 15vw;
    text-align: center;
}
/* Fin Header*/

/*Début Nav*/
nav{
    height:10vh;
    width: 100%;
    font-size: 25px;
    text-align:center;
    border: 2px white;
    background-color: #87ceeb;
}
nav ul li{
    word-spacing: 2rem;
    display: inline-block;
}

#azzaro, .azzaro{
    height: 200vh;
    width: 100%;

}
#nav{
    padding: 0; margin: 0;
}
#nav li{
    
}

